fastapi
firebase
firebase-admin
gcloud
google-generativeai
google-ai-generativelanguage
langchain
langchain-google-firestore
langchain-google-genai
langsmith
numpy
pydantic
PyPDF2
python-dotenv
python-multipart
requests
uvicorn
